<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  <div class="row">
  <div class="col-md-12">
    <div class="logo"><img  alt="friends cast" class="navbar-brand"  src="../../assets/images/logo.png" width="160px;"> </div>
    <div class="name_prod"> <p class="p_name">product name</p> <span class="p_desc"> Description goes here </span></div>
    <div class="pl_btn"><a href="#"><i class="fa fa-plus"></i></a></div>

        <div class="products mt-5 row">
    <div class="col-sm-6 col-md-4 ">
      <div class="text-center">
        <div class="product_img">
          <img style="-webkit-user-select: none;" src="http://via.placeholder.com/300x300" class="img img-responsive">
        </div>
        <span><i class="fa fa-microphone" aria-hidden="true"></i></span>
        <h2>Bob</h2>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <div class="product_img">
          <img style="-webkit-user-select: none;" src="http://via.placeholder.com/300x300" class="img img-responsive">
        </div>
        <span><i class="fa fa-microphone" aria-hidden="true"></i></span>
        <h2>Smitc</h2>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <div class="product_img">
          <img style="-webkit-user-select: none;" src="http://via.placeholder.com/300x300" class="img img-responsive">
        </div>
        <span><i class="fa fa-microphone" aria-hidden="true"></i></span>
        <h2>John</h2>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
<audio-bar></audio-bar>
