.audio-bar-ctn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px;
  height: 100px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.1), 0 1px 5px 0 rgba(0,0,0,0.1);
  .audio-bar {
    width: 100%;
    height: 100%;/*
    line-height: 85px;*/
  }
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

$background:#f9f9f9;
$foreground:#2c3e50;

$foreground-light:#34495e;


$size:15px;
$ratio:1;

$transition-time:0.3s;

.play {
  display: inline-block;
  width: 0;
	height: 0;
	border-top: $size solid transparent;
	border-bottom: $size solid transparent;
	border-left: ($size*$ratio) solid $foreground;
  position:relative;
  z-index:1;
  transition: all $transition-time;
  -webkit-transition: all $transition-time;
  -moz-transition: all $transition-time;
  margin-right: 15px;
  margin-left: 15px;

  &:before {
    content:'';
    position:absolute;
    top:($size*-1.5);
    left:($size*-2.25);
    bottom:($size*-1.5);
    right:($size*-0.75);
    border-radius:50%;
    border: ($size*0.2) solid $foreground;
    z-index:2;
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
  }
  &:after {
    content:'';
    opacity:0;
    transition: opacity ($transition-time * 2);
    -webkit-transition: opacity ($transition-time * 2);
    -moz-transition: opacity ($transition-time * 2);
  }

  &:hover, &:focus {
    &:before {
       transform: scale(1.1);
       -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
    }
  }

  &.active {
	  border-color:transparent;
    &:after {
      content:'';
      opacity:1;
      width:($size);
      height:($size*1.6);
      background:$foreground;
      position:absolute;
      right: 3.5px;
      top: ($size*-0.8);
      border-left:($size*0.4) solid $foreground;
      border-right:($size*0.4) solid $foreground;
      box-shadow:inset ($size*0.6) 0 0 0 $background;
    }
  }
}

#volume-slider{
  align-items: center;
  display    : inline-block;
  position: relative;
  top: -10px;
  padding: 0;
  margin: 0px auto;
}
.volume-icon{
    cursor: pointer;
    height: 30px;
    transform: rotate(0deg);
    transform-origin: center top;
    width: 30px;
    float: left;
    vertical-align: middle;


  .volume-icon-bg{
    fill      : #2c3e50;
    transition: fill 300ms;
  }

  &:hover .volume-icon-bg{
    fill: #17212b;
  }

}
#circle-mask-shape{
  transform       : scale(0);
  transform-origin: center center;
}
.volume-track{
  background-color: #e1dee5;
  border-radius   : 3px;
  flex            : 1;
  height          : 4px;
  margin-left     : 5px;
  position        : relative;
}
.volume-indicator{
  background-color: #6eaa35;
  border-radius   : 50%;
  height          : 12px;
  left            : 0;
  position        : absolute;
  top             : -4px;
  transition      : visibility 100ms, opacity 100ms;
  width           : 12px;
}


input[type="range"]{
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 6px;
  height: 6px;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0.15, #2c3e50),
      color-stop(0.15, #C5C5C5)
  );
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #E9E9E9;
  border: 1px solid #CECECE;
  height: 15px;
  width: 15px;
  border-radius: 3px;
}
input[type=range]:focus {
  outline: none;
}


@media (max-width: 500px) {
  .audio-bar-ctn {
    .audio-bar {
      transform: translateX(calc(-50% + 20px));
    }
  }
}

.audio-bar-start-stop {
  margin-top: 35px;
  margin-left: 30px;
}
.slider2{
  margin-top: 42px;
  margin-right: 60px;
}

.progress-bar{
  background: transparent;
  margin-top: 40px;
}

.progress-add{
  height:20px !important;
}
@media (max-width: 500px){
  .audio-bar-ctn{
    position: unset;
    height: 130px;
    .slider2{
      margin-top: 10px;
    .progress-bar{
      background: transparent;
       .progress-add{
      margin: 0 auto;
      display: table;
    }
   }
  }
 }
}
