<ul class="list-group mt-4 pl-5 pr-5">
  <li class="list-group-item">
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle theme-blue-color" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">
          <a class="dropdown-item">All</a>
          <a class="dropdown-item">Humor</a>
        </div>
      </li>
    </ul>
  </li>
  <li class="list-group-item">
    <div class="media">
      <img height="100px" width="100px" class="mr-3" src="assets/images/examplethumbnail.jpg" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">AiA 191: UX in Angular with Tomek Sułkowski</h5>
        <p class="m-0 pl-1"><b class="sub-author">Eric Begay</b><span class="sub-date"> - May 30th, 2018</span></p>
        <p class="m-0 pl-1">Panel: Charles Max Wood Special Guests: Tomek Sułkowski In this episode, the JavaScript Jabber panelists discuss UX in Angular with Tomek Sułkowski. Tomek currently works as...</p>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="media">
      <img height="100px" width="100px" class="mr-3" src="assets/images/examplethumbnail.jpg" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">AiA 191: UX in Angular with Tomek Sułkowski</h5>
        <p class="m-0 pl-1"><b class="sub-author">Eric Begay</b><span class="sub-date"> - May 30th, 2018</span></p>
        <p class="m-0 pl-1">Panel: Charles Max Wood Special Guests: Tomek Sułkowski In this episode, the JavaScript Jabber panelists discuss UX in Angular with Tomek Sułkowski. Tomek currently works as...</p>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="media">
      <img height="100px" width="100px" class="mr-3" src="assets/images/examplethumbnail.jpg" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">AiA 191: UX in Angular with Tomek Sułkowski</h5>
        <p class="m-0 pl-1"><b class="sub-author">Eric Begay</b><span class="sub-date"> - May 30th, 2018</span></p>
        <p class="m-0 pl-1">Panel: Charles Max Wood Special Guests: Tomek Sułkowski In this episode, the JavaScript Jabber panelists discuss UX in Angular with Tomek Sułkowski. Tomek currently works as...</p>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="media">
      <img height="100px" width="100px" class="mr-3" src="assets/images/examplethumbnail.jpg" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">AiA 191: UX in Angular with Tomek Sułkowski</h5>
        <p class="m-0 pl-1"><b class="sub-author">Eric Begay</b><span class="sub-date"> - May 30th, 2018</span></p>
        <p class="m-0 pl-1">Panel: Charles Max Wood Special Guests: Tomek Sułkowski In this episode, the JavaScript Jabber panelists discuss UX in Angular with Tomek Sułkowski. Tomek currently works as...</p>
      </div>
    </div>
  </li>
</ul>
